{% extends 'base.html.twig' %}

{% block title %}Bestel jouw pizza nu!{% endblock %}

{% block body %}
    <h1>Bestel nu de {{ pizza.name }}</h1>
    <div class="row">
        <div class="col-4">
            <div class="card p-2">
                <img src="{{ asset(pizza.image) }}" class="card-img-top" alt="{{ pizza.image }}">
                <div class="card-body">
                    <h5 class="card-title">{{ pizza.name }} &euro; <span class="pizza-normal-price">{{ pizza.price }}</span></h5>
                    <p class="card-text">
                        {{ pizza.description }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-8">
            <h2>Bestel de {{ pizza.name }} voor &euro; <span class="pizza-price">{{ pizza.price }}</span></h2>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
